# Environments
.env
.venv/
venv/
env/

# Pytest / Coverage
.pytest_cache/
.coverage
htmlcov/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# Data and Logs
*.log
*.sqlite
# data/  # (Uncomment this if you want to ignore the whole data folder)
